body {
  font-family: Arial;
}
input, textarea {
  height: 25px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.51);
}
.container {
  width: 900px;
}
.custom-btn {
  background: #0271c7;
  font-weight: 600;
  font-size: 13px;
  padding: 6px 28px;
  line-height: 14px;
  color: #fff;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.29);
  margin-right: 10px;
}
.custom-btn-2 {
  background: #fff;
  font-size: 12px;
  padding:0 5px;
  border: 1px solid #dfdfdf;
  color: #666666;
  margin-right: 9px;
}
.view-date {
  width: 122px;
  display: inline-block;
  text-align: center;
}
.custom-btn-2.indicator-left,
.custom-btn-2.indicator-right {
  width: 20px;
  height: 20px;
}
.custom-btn-2.indicator-left {
  background: url(../img/indicator-l.png) center no-repeat;
}
.custom-btn-2.indicator-right {
  background: url(../img/indicator-r.png) center no-repeat;
}
.table-bordered td {
  height: 117px;
  font-size: 12px;
  width: 127px;
  color: #989898;
  font-weight: 400;
  padding: 8px;
}
.table td.current {
  background: #f4f4f4;
  font-weight: 600;
  color: #666666;
}
.table td.event {
  background: #c2e4fe;
  color:#666666;
}
.table td.event p {
  margin: 0;
  padding: 0;
}
.event-name {
  font-weight: 600;
}
.table td.focus-day {
  border: 2px solid #86c9fd;
  position: relative;
}
.popup {
  width: 300px;
  position: absolute;
  z-index: 99;
  background: #fff;
  height: 315px;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.35);
}
.popup .content {
  position: absolute;
  background: #fff;
  width: 300px;
  height: 315px;
  padding: 25px 20px;
  z-index: 99;
}
.popup:after {
  content: '';
  width: 18px;
  height: 18px;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  transform: rotate(45deg);
  background: #fff;
}
.popup.top-right {
  top: -20px;
  right: 142px;
}
.popup.top-right:after {
  top:24px;
  right: -9px;
}
.popup.top-left {
  top: -20px;
  left: 142px;
}
.popup.top-left:after {
  top:24px;
  left: -9px;
}
.popup.bottom-right {
  bottom: -20px;
  right: 142px;
}
.popup.bottom-right:after {
  bottom:24px;
  right: -9px;
}
.popup.bottom-left {
  bottom: -20px;
  left: 142px;
}
.popup.bottom-left:after {
  bottom:24px;
  left: -9px;
}
.calendar-details .title {
  font-size: 16px;
  font-weight: 600;
  color:#000;
} 
.table .calendar-details .date {
  color:#000;
  margin: 15px 0;
  padding: 0;
}
.calendar-details .members{
  margin-bottom: 35px;
}
.calendar-details textarea {
  height: 112px;
  margin:15px 0;
}
.title-members {
  font-size: 11px;
  font-weight: 600;
  color: #8c8c8c;
}
.popup.lite-set-event{
  top: 50px;
  left: 16px;
  height: 100px;
}
.lite-set-event .content{
  height: 100px;
}
.popup.lite-set-event:after{
  top: -9px;
  left: 20px;
}
.popup.search{
  top: 42px;
  left: 16px;
  height: 390px;
  max-width: 215px;
}
.search .content{
  height: 390px;
  max-width: 215px;
  padding: 5px 10px;
  overflow: auto;
}
.popup.search:after{
  top: -6px;
  left: 20px;
}
.search .list-group-item {
  padding: 0;
  border-left: none;
  border-right: none;
  border-radius:none;
  padding: 6px 0;
}
.search .list-group-item:first-child {
  border-top: none;
}
.search .list-group-item .title{
  font-size: 12px;
  font-weight: 600;
}
.search .list-group-item .date{
  font-size: 11px;
  font-weight: 400;
}
.search .list-group-item p {
  margin:0;
}
header {
  height: 100px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
  background: #f4f4f4;
  padding:56px 0 19px 0;
}
nav {
  padding:16px 0 13px 0;
}