<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Calendar</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <button type="button" class="btn custom-btn" data-event="calendar-lite-added">Добавить</button>
            <button type="button" class="btn custom-btn">Обновить</button>
          </div>
          <div class="col-md-3 offset-md-4">
          	<input type="text" name="search" id="calendar-search">
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn custom-btn-2 indicator-left" data-event="calendar-prevMonth"></button>
            <span class="view-date">Март 2013</span>
            <button type="button" class="btn custom-btn-2 indicator-right" data-event="calendar-nextMonth"></button>
            <button type="button" class="btn custom-btn-2" data-event="calendar-currentMonth">Сегодня</button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="row">
          <div class="col">
            <table class="table table-bordered">
              <tbody id="calendar-content"></tbody>
            </table>
          </div>
      </div>
    </div>
    <link rel="stylesheet" href="css/global.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  </body>

  <script id="calendar-template" type="text/x-handlebars-template">
    <tr>
      {{#each days}}
        <td data-event="add-calendar-event" class="{{#if currentDay}}current{{/if}} {{#if event}}event{{/if}}" data-event-date="{{dateString}}">
          {{dayTitle}}
          {{#if event}}
            <p class="event-name">{{event.name}}</p>
            <p>{{event.members}}</p>
          {{/if}}
        </td>
        {{#if clouseWeek}} </tr><tr> {{/if}}
      {{/each}}
  </script>

  <script id="calendar-details" type="text/x-handlebars-template">
      {{#if eventData}}
        <p class="title col">{{eventData.name}}</p>
        <p class="date col">{{userFormatDate}}</p>
        {{#if eventData.members}}
        	<span class="title-members">Участники</span>
        	<p class="members col">{{eventData.members}}</p>
        {{else}}
        	<input type="text" name="eventMambers" placeholder="Имена участников" class="col">
        {{/if}}
        
        <input type="hidden" name="eventDate" value="{{eventDate}}" />
        <textarea class="col" name="eventDescription">{{eventData.description}}</textarea>
        <button type="button" class="btn custom-btn-2" data-event="calendar-edit-event">Готово</button>
        <button type="button" class="btn custom-btn-2" data-event="calendar-remove-event">удалить</button>
      {{else}}
        <input type="text" name="eventName" placeholder="Событие" class="col" />
        <p class="date col">{{userFormatDate}}</p>
        <input type="text" name="eventMambers" placeholder="Имена участников" class="col" />
        <input type="hidden" name="eventDate" value="{{eventDate}}" />
        <textarea class="col" name="eventDescription"></textarea>
        <button type="button" class="btn custom-btn-2" data-event="calendar-set-event">Готово</button>
        <button type="button" class="btn custom-btn-2" data-event="clouse-popup">удалить</button>
      {{/if}}
  </script>

  <script id="lite-added" type="text/x-handlebars-template">
  	<input type="text" name="eventDateTitle" placeholder="5 марта, 14:00, день роджения" class="col" />
    <button type="button" class="btn custom-btn-2" data-event="calendar-lite-set-event">Создать</button>
  </script>

  <script id="search-content" type="text/x-handlebars-template">
  	<ul class="list-group">
  		{{#each result}}
  			<li class="list-group-item">
  				<p class="title">{{name}}</p>
  				<p class="date">{{date}}</p>
  			</li>
  		{{/each}}
  	</ul>
  </script>

  <script src="script/calendar.js"></script>
  <script src="script/ClickEvents.js"></script>
  <script src="script/popup.js"></script>

  <script type="text/javascript">
    var testEventsData = {
      '09.03.2018' : {
        'name' : 'Напиться',
        'members' : 'Витя костин, Петр Михайлов',
        'description' : 'Franz Ferdinand - Always Ascending (Official Video) taken from the new album of the same name out now on Domino Record Co.Subscribe to Fra'
      },
      '19.03.2018' : {
        'name' : 'Напиться 2',
        'members' : 'Витя костин, Петр Михайлов'
      }
    }
  </script>
  <script src="script/init_events.js"></script>
</html>